# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Iterating over arrays/Individual taxes/out/
/Topics/Iterating over arrays/Individual taxes/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/NPE/Avoid NPE with strings/out/
/Topics/NPE/Avoid NPE with strings/out/production/classes/